@{
    ViewBag.MenuId = "#services";
}

<div class="content-page">
    <h3>Services Provided</h3>
    <p class="with-emphasis">Currently I am not offering repair or restoration services to the public.</p>
    <span class="with-emphasis">What we do not do:</span>
    <ul>
        <li>I do not refinish clock cases.</li>
        <li>I do not work on spring powered American clocks and very few weight powered American clocks.</li>
        <li>I do not work on modern 31 day spring powered clocks regardless of where or when they were made.</li>
        <li>I do not appraise clocks over the internet. There are too many potential unknowns to give a fair appraisal by looking at a picture. I must have the clock physically in my possession to do an appraisal. </li>
    </ul>
    <span class="with-emphasis">What we do:</span>
    <ul>
        <li>Sell high quality Antique European clocks</li>
        <li>Ship World Wide</li>
        <li>Buy clocks only from KNOWN sources.</li>
    </ul>
</div>