@model IEnumerable<Clock>
@{
    ViewBag.MenuId = "#clocks";
}

<div class="container-fluid">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type(s)</th>
                <th>Price</th>
                <th>Featured</th>
                <th>
                    <a href="/admin/clocks/add" class="btn btn-sm btn-success">Add Old Clock</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clock in Model) {
                <tr>
                    <td>@clock.Number</td>
                    <td>@clock.Name</td>
                    <td>N/A</td>
                    <td>@(clock.Price != null ? string.Format("{0:c}", clock.Price) : "SOLD")</td>
                    <td>@clock.Featured</td>
                    <td>
                        <a href="/admin/clocks/edit/@clock.Id" class="btn btn-sm"><span class="glyphicon glyphicon-edit">&nbsp;Edit</span></a>
                    </td>
                </tr>
             }
        </tbody>
    </table>
</div>