@{
    ViewBag.MenuId = "#parts";
}

<div class="content-page">
    <h3>Custom Tops, Finials and Wood Carvings</h3>
    <br />
    <div>
        <p>I work with a professional expert wood carver in Europe to have replica tops and finials made especially for European clocks. I have pictures of most models of Lenzkirch clocks models showing what the top is supposed to look like. With that and some measurements from your clock and a tracing of the outline of the case. A custom top can be made to restore your clock to its original splinder.</p>
        <p>Below are some examples of high quality work we can provide. The carving can be provided unfinished or stained and finsihed to match the color of your clock. A good color picture of your clock is required. Contact me and lets discuss your specific needs.</p>
        <p>In the pictures below are a couple examples where we used the drawing from an old Lenzkirch catalog. The top most picture is the drawing from the catalog, the center photo is the new carved top and the bottom shows the finished product. If you have your own picture we can use that to make a top for you as well.</p>
        <p>Carving and finials can be provided in may different types of wood. We offer them in oak, mahogany, walnut, pear, alder and a few others opon request.</p>
        <a href="mailto:clocks@antique-clock.com?subject=Wood%20Carvings%20Tops%20and%20Finials" class="btn btn-lg btn-info">Request Information</a>
    </div>
    <hr />
    <div id="detail-container">
        <!-- CARVINGS -->
        <h3>Examples of Carvings<span class="sub-title">Place your mouse over or click on any thumbnail picture to see it larger</span></h3>
        <div class="row gallery-container container-fluid">
            <div class="row main" style="margin-bottom: 20px;">
                <img src="~/images/carvings/3a.jpg" alt="carving" style="max-width: 75%;" id="carving-image" />
            </div>
            <div class="row thumbs">
                <img src="~/images/carvings/3a.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/3a.jpg')" />
                <img src="~/images/carvings/3g.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/3g.jpg')" />
                <img src="~/images/carvings/3h.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/3h.jpg')" />
                <img src="~/images/carvings/3i.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/3i.jpg')" />
                <img src="~/images/carvings/4g.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/4g.jpg')" />
                <img src="~/images/carvings/4h.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/4h.jpg')" />
                <img src="~/images/carvings/4i.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/4i.jpg')" />
                <img src="~/images/carvings/4j.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/4j.jpg')" />
                <img src="~/images/carvings/5a.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/5a.jpg')" />
                <img src="~/images/carvings/5g.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/5g.jpg')" />
                <img src="~/images/carvings/finials-color.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/finials-color.jpg')" />
                <img src="~/images/carvings/finials-raw.jpg" alt="carving" onmouseover="swapCarvingImage('/images/carvings/finials-raw.jpg')" />
                <br /><br />
                <a href="mailto:clocks@antique-clock.com?subject=Wood%20Carvings%20Tops%20and%20Finials" class="btn btn-lg btn-info">Request Information</a>
            </div>
        </div>
        <hr />

        <!-- FINIALS -->
        <h3>Examples of Finials<span class="sub-title">Place your mouse over or click on any thumbnail picture to see it larger</span></h3>
        <div class="row gallery-container container-fluid">
            <div class="row main" style="margin-bottom: 20px;">
                <img src="~/images/carvings/finials-color.jpg" alt="carving" style="max-width: 75%;" id="finial-image" />
            </div>
            <div class="row thumbs">
                <img src="~/images/carvings/A1.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/A1.jpg')" />
                <img src="~/images/carvings/A2.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/A2.jpg')" />
                <img src="~/images/carvings/A3.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/A3.jpg')" />
                <img src="~/images/carvings/A4.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/A4.jpg')" />
                <img src="~/images/carvings/A5.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/A5.jpg')" />
                <img src="~/images/carvings/A6.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/A6.jpg')" />
                <img src="~/images/carvings/A7.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/A7.jpg')" />
                <img src="~/images/carvings/A8.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/A8.jpg')" />
                <img src="~/images/carvings/A9.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/A9.jpg')" />
                <img src="~/images/carvings/A10.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/A10.jpg')" />
                <img src="~/images/carvings/Set-A.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/Set-A.jpg')" />
                <img src="~/images/carvings/Set-B.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/Set-B.jpg')" />
                <img src="~/images/carvings/Set-C.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/Set-C.jpg')" />
                <img src="~/images/carvings/Set-D.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/Set-D.jpg')" />
                <img src="~/images/carvings/Set-E.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/Set-E.jpg')" />
                <img src="~/images/carvings/Set-F.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/Set-F.jpg')" />
                <img src="~/images/carvings/Set-G.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/Set-G.jpg')" />
                <img src="~/images/carvings/Set-H.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/Set-H.jpg')" />
                <img src="~/images/carvings/finials-color.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/finials-color.jpg')" />
                <img src="~/images/carvings/finials-raw.jpg" alt="carving" onmouseover="swapFinialImage('/images/carvings/finials-raw.jpg')" />
                <br /><br />
                <a href="mailto:clocks@antique-clock.com?subject=Wood%20Carvings%20Tops%20and%20Finials" class="btn btn-lg btn-info">Request Information</a>
            </div>
        </div>
        <hr />

        <!-- BEFORE AND AFTERS -->
        <div class="row carvings">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/carvings/before-1.jpg" />
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/carvings/after-1.jpg" />
                    </div>
                </div>
                <div class="row text-center" style="font-weight: bold">
                    <div class="col-md-6">Before</div>
                    <div class="col-md-6">After</div>
                </div>
            </div>
            <div class="col-md-5">
                Before and after pictures of a clock we recently made a top and bottom finials for. This was a custom design created specifically for this customer. The miniature Eagle is hand carved wood. Not a cheap composite replica.
            </div>
        </div>
        <hr />

        <div class="row carvings">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/carvings/4m.jpg" />
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/carvings/4k.jpg" />
                    </div>
                </div>
                <div class="row text-center" style="font-weight: bold">
                    From catalog drawing to finished product
                </div>
            </div>
            <div class="col-md-5">For this restoration we took old catalog drawing and scaled them to the clocks to duplicate the missing tops.</div>
        </div>
        <hr />

        <div class="row carvings">
            <div class="col-md-7">
                <div class="row">
                    <img src="~/images/carvings/5m.jpg" />
                </div>
                <div class="row text-center" style="font-weight: bold">
                    Custom designed top and bottom
                </div>
            </div>
            <div class="col-md-5">This custom designed top and bottom fit the style of this clock very well and looks as if it has been there for 100 plus years.</div>
        </div>
        <hr />

        <div class="row carvings">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/carvings/before-2.jpg" />
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/carvings/after-2.jpg" />
                    </div>
                </div>
                <div class="row text-center" style="font-weight: bold">
                    <div class="col-md-6">Before</div>
                    <div class="col-md-6">After</div>
                </div>
            </div>
            <div class="col-md-5">
                <p>Catalog Photo</p>
                <p>Before and after pictures of a clock we recently made a top, bottom and finials for. This was a custom design created specifically for this customer. We used a catalog photo of a model 776 and scaled the parts to fit the smaller spring powered clock case.</p>
            </div>
        </div>
        <hr />

        <div class="row carvings">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/carvings/before-3.jpg" />
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/carvings/after-3.jpg" />
                    </div>
                </div>
                <div class="row text-center" style="font-weight: bold">
                    <div class="col-md-6">Before</div>
                    <div class="col-md-6">After</div>
                </div>
            </div>
            <div class="col-md-3">This is a custom designed top. I have owned this clock for 20 years without a top. Now it finally has one that is worthy of being on a piece this magnificant.</div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function swapCarvingImage(src) {
            $('#carving-image').attr("src", src);
        }

        function swapFinialImage(src) {
            $('#finial-image').attr("src", src);
        }
    </script>
}