@model IEnumerable<Part>
@{
    ViewBag.MenuId = "#parts";
}

<div class="container-fluid" ng-app="part-admin">
    <div ng-controller="part-controller as vm">
        <table class="table table-striped table-responsive" id="part_list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Shipping</th>
                    <th>is Lenzkirch</th>
                    <th>
                        <a href="/admin/parts/add" class="btn btn-sm btn-success">Add Part</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="part in vm.parts | orderBy : 'SortOrder'">
                    <td>{{ part.SortOrder }}</td>
                    <td>{{ part.Id }}</td>
                    <td>{{ part.Title }}</td>
                    <td>{{ part.Price | currency }}</td>
                    <td>{{ part.Shipping | currency }}</td>
                    <td>{{ part.IsLenzkirch }}</td>
                    <td>
                        <a href="/admin/parts/edit/{{part.Id}}" class="btn btn-sm"><span class="glyphicon glyphicon-edit">&nbsp;Edit</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script>
        (function () {
            "use strict"

            angular.module("part-admin", ["antiqueClocks"]).controller("part-controller", function (data, $scope) {
                var vm = this;

                vm.parts = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

                //Renumber table rows
                var renumber_table = function (tableID) {
                    var sortOrder = [];

                    //angular.forEach(vm.clocks, function (clock) {
                    //    $(tableID + " tbody tr").each(function () {
                    //        var clockNumber = $(this).children()[1].innerText;
                    //        if (clock.Number == clockNumber) {
                    //            clock.SortOrder = $(this).parent().children().index($(this)) + 1;
                    //            sortOrder.push({ number: clock.Number, sortOrder: clock.SortOrder });
                    //         }
                    //    });
                    //});
                    $scope.$apply();

                    // update the database
                    //data.post('/admin/parts/sort', sortOrder, function (response) {
                    //    console.log(response);
                    //});
                }

                var initialize = function () {
                    var fixHelperModified = function (e, tr) {
                        var $originals = tr.children();
                        var $helper = tr.clone();
                        $helper.children().each(function (index) {
                            $(this).width($originals.eq(index).width())
                        });
                        return $helper;
                    };

                    //Make diagnosis table sortable
                    $("#part_list tbody").sortable({
                        helper: fixHelperModified,
                        stop: function (event, ui) {
                            renumber_table('#part_list');
                        }
                    }).disableSelection();
                }
                initialize();
            });
         })();
    </script>
}