@{
    ViewBag.MenuId = "#links";
}

<dv class="content-page">
    <h3><a href="http://www.nawcc.org/" target="_blank">National Association of Watch and Clock Collectors</a></h3>
    <h3><a href="http://www.snclocks.com/" target="_blank">Steve Nelson's Vienna Regulators</a></h3>
</dv>