@model IEnumerable<Resource>

<div class="image-edit-container">
    @foreach (var resource in @Model) {
        <div id="box-@resource.Id" class="image-edit-box" onclick="removeImage(@resource.Id)">
            @resource.ImageTag()
            <div class="image-edit-overlay">
                <img src="~/images/delete.png" />
            </div>
        </div>
    }
</div>

<script>
    function removeImage(id) {
        var element = $('#box-' + id);
        console.log(element);
        element.hide();
    };
</script>