@{
    ViewBag.MenuId = "#about";
}

<div class="content-page">
    <h3>The below serial number table is from my book.<br />It is by far the most accurate serial number/date table available for dating a Lenzkirch clock.</h3>
    <img src="~/images/serial.jpg" style="width: 75%; margin: 0 auto; display: block;" />
</div>