@{
    ViewBag.MenuId = "#about";
}

<div class="content-page">
    <h3>About Lenzkirch Clocks</h3>
    <p>Lenzkirch clocks are without a doubt the most highly collectable of all antique clocks made in the Black Forest region of Germany during the 1800s. Their quality and beauty set them apart from all others. The craftsmanship and highly decorated cases quickly established Lenzkirch clocks as the best of the best. Founded in 1851 as a stockholder corporation, the Lenzkirch clock factory was the first of its kind in the Black Forest. Prior to that clock making was mainly a cottage industry. Aktiengessellschaft fur Uhrenfabrication Lenzkirch (Stockholder Company for Clock Manufacturing in Lenzkirch) was the brainchild of Edward Hauser. He was born August 21, 1825 the son of a teacher.</p>
    
    <h4>Edward Hauser</h4>
    <p>Eduard Hauser was born August 21, 1825, died July 22, 1900. Born the son of a teacher, he apprenticed as a music box maker at about the age of 15 under Johann George Schoepperle. After completing his apprenticeship, Eduard left the small village of Lenzkirch and traveled extensively in France, Switzerland and England where he studied clock making at the major manufacturing facilities. During this time he developed the plan to bring precision manufacturing techniques back to the Black Forest. On his return to Lenzkirch, Eduard worked out his plan to introduce the precision assembly line methods he had learned. Up to this time, Black Forest clocks were not known for their quality or precision.</p>
    <p>Eduard believed that through precision machinery techniques he could manufacture parts that could then be assembled into a functioning clock. By using the precision parts, Eduard hoped to make Black Forest clocks that would be competitive with the French, English and Swiss.</p>
    <p>About 1848 Eduard Hauser partnered with Ignaz Schoepperle and opened a modest machine shop. At first they made parts for other clockmakers. Eduard used this time to convince others of his vision and to raise the necessary capital required to purchase the required machinery. This technique of manufacturing would be much more efficient and profitable than the traditional handmade method of making clocks.</p>
    <p>Working upstairs in the musical organ factory, Eduard lead his small group of employees using hand powered flywheel lathes and gear cutting engines. In the beginning progress was very slow. The newly formed company lacked the marketing connections to promote their products. Buying the necessary tools and equipment took most of their money. To take the business to the next level, a stockholder corporation would be necessary. On August 31, 1851, Eduard Hauser and Ignaz Schoepperle joined forces with 5 other men, Franz Josef Faller, Paul Tritscheller, Johann Nikolaus Tritscheller, Joseph Wiest and Nickolas Rogy. Together they formed Aktien-gesesellschaft fur Uhrenfabrication, Lenzkirch (Stock Holder Corporation for Clock Manufacturing, Lenzkirch).</p>
    <p>For the first few years the Lenzkirch clock factory imported movements and parts from France. Eduard wanted to reduce their dependency of French goods and soon begain making their own.	The first movements made in Lenzkirch were exact carbon copies of the French movements they had been importing. It is impossible to know exactly when the transistion occured. From other readings I have done I believed this occured around 1860 but I have no proof to back it up.</p>
    <p>In the early days after the factory began producing complete running movements, they bought the finest clock cases from the Heer Brothers in Voehrenbach to put their movements into. Many were in the Oeil de boef or eye of the ox style. After all, French clocks had dominated the quality market for a long time. Could this be where the rumor began that Lenzkirch made movements that were incased by other clockmakers? If so it only applies to the extremely earliest movements made.</p>
    <p>When Lenzkirch introduced the German regulator style clock fashioned after the Viennese Regulator, they quickly gained a reputation for making out-standing quality and highly reliable timepieces. Under Eduard's leadership the factory grew into a large modern manufacturing empire. Workers no longer had to use hand-powered machines to make the parts. Steam engines now powered all of the machines in the factory. The Lenzkirch clock factory also had their own sawmill, foundry, tool and die makers and even did their own gold and silver plating.</p>
    <p>In order to be successful they still had to get their clocks to market. The old traditional method of clock peddlers transporting the clocks around the country hoping to find a buyer was inefficient. The Lenzkirch factory come up with an idea and produced their first clock catalog in 1855. The first catalog was little more than outline drawing of the clocks they had for offer. After receiving the order, the clock was made to the customer's specifications and shipped to them. The clock catalog was the brainchild of Franz Josef Faller.</p>
    <p>Eduard's eldest son would join his father's business. He was a skilled architect and artistically talented. The esthetic beauty of Lenzkirch clock cases for nearly 30 years can be directly attributed to his contributions. This is one of the main reasons Lenzkirch clocks are so popular and collectable today. Eduard's youngest son Paul also followed in his father footsteps and became a tool and die maker at the factory.</p>
    <p>In the years to come, the Lenzkirch factory would win many medals for their clocks. The medals were:</p>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>1854 Munich - Gold medal for design</li>
                <li>1858 Villingen - Gold medal for service</li>
                <li>1861 Karlsruhe - Gold medal</li>
                <li>1862 London - Best price medal</li>
                <li>1867 Paris - Silver medal</li>
                <li>1873 Vienna - Progress medal</li>
                <li>1875 Chile - Best price medal</li>
                <li>1877 Karlsruhe - Gold medal</li>
                <li>1885 Antwerp - Honors diploma</li>
                <li>1887 Freiburg - Gold medal</li>
                <li>1887 Paris - Silver medal</li>
                <li>1888 Munich - Honors diploma</li>
                <li>1888 Barcelona - Gold medal</li>
                <li>1900 Paris - Silver medal</li>
                <li>1905 Nuernberg - Gold medal</li>
                <li>1907 Villingen - Gold medal</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="~/images/lenzkirch-card.jpg" />
            <p>An original Lenzkirch factory business card from around 1910 with the medals on it.</p>
        </div>
    </div>
    <p>For the complete history on Lenzkirch clocks you should read my book.</p>
    <p>This site is copyright (C) 2015. It is owned and operated by George A. Everett. All material herein, including pictures is the property of the copyright holder and may not be duplicated in any manner whatsoever, or directly linked to another site without the espressed permission in writing of the copyright holder. All rights reserved.</p>
</div>