@{
    ViewBag.MenuId = "#about";
}

<div class="content-page">
    <h3>Packing and Shipping</h3>
    <p><strong>We do not personally pack any items for shipment.</strong><br />We use only commercial packaging firms for our packing and shipping, including The UPS Store in various locations across the country. Using our instructions and their experience, they do a professional job, ensuring that our items arrive safely. These commercial packers also provide a second "layer" of insurance covering the packing job.</p>
    <p><strong>We do not collect shipping-related expenses in advance.</strong><br />Instead, our packer will call you for a credit card number when the shipment is ready to go, and you pay them directly. If you require a shipping quote in advance, please let us know, otherwise, we will deliver the clock to the packer and they will contact you after the packing is completed and the clock is ready to ship. Don't forget to discuss insurance. Make sure you have more, not less! All UPS-packed clocks are double-boxed.</p>
</div>