@{
    ViewBag.MenuId = "#about";
}

<div class="content-page">
    <h3>Unsigned Lenzkirch Clocks</h3>
    <p>Form the very beginning of my clock collecting I would hear rumors about unsigned Lenzkirch Clocks. For the most part I did not believe they existed. At the time I was doing most of my hunting for clocks at flea markets in small towns across Germany. I just did not believe everything sellers there told me. After all, why would a company like Lenzkirch not put a trademark on their products?</p>
    <p>Over the years I learned details about the clocks that would help me to determine what was a Lenzkirch and what was not. Many times sellers would say their clock was a Lenzkirch just to justify their asking price and to get someone to buy it. For a while if a clock had brass decorations on the case, sellers would say it was an unsigned Lenzkirch. That was my clue to walk away.</p>
    <p>Then one day I found a clock that looked like a model 83 Lenzkirch 2-weight regulator. To my surprise when I pulled out the movement it did not have a trademark on it. After about 30 minutes of agonizing over what to do I bought the clock. Then I set out to authenticate it or prove it was a fake.</p>
    <p>A few years later I found and purchased a small time only spring powered regulator without a trademark. It sure looked like the real thing to me. I happened to have a signed Lenzkirch time and strike 26 series movement apart for repair on my clock bench. I started by measuring the gears and counting the teeth between both movements. They were identical. I even was able to put gears from one movement into the other movement. I knew then I was on to something big.</p>
    <p>The time only movement was a really low serial number. The serial number was under 185,000. This set me on a quest to find other low serial number clocks. Once I knew what to look for I was able to find a number of them being offered for sale on eBay, the Internet auction site. All of the unsigned clocks I was finding had serial numbers under 185,000.</p>
    <p>Then one night I was reading an article published again by Carl Kockmann from an old German clock maker's newspaper. In the article it said that Lenzkirch clocks from 185,000 to 227,000 used this trademark. And Lenzkirch clock from 227000 used this trademark.</p>
    <div class="tileboard">
        <div class="advert text-center">
            <img src="~/images/advert.jpg" />
            <div class="sub-title">Advertisement from Uhrmacher News Letter</div>
        </div>
    </div>
    <p>Notice that the first trademark in the above was accidently printed upside down by the magazine's printer. This has been confused by some to think there was a third trademark. The correct first trademark is shown below.</p>
    <div class="tileboard">
        <div class="trademark">
            <img src="~/images/trademark-1.jpg" />
            <div class="sub-title">First Trademark</div>
        </div>
        <div class="trademark">
            <img src="~/images/trademark-2.jpg" />
            <div class="sub-title">Second Trademark</div>
        </div>
    </div>
    <p>So what did they use from 1 to 185,000? NOTHING AT ALL!!! Could it be that simple? It sure could.</p>
    <p>Now I had all these clocks without trademarks. They were unsigned Lenzkirch clocks. If I were to ever want to sell them, who would believe me? I would be like all the other sellers trying to convince a buyer that it really was a Lenzkirch. I had to find a way to authenticate these clocks.</p>
    <p>Ten years later, nearly 20 years after I first heard the term, Unsigned Lenzkirch, I published my book, Lenzkirch Clocks, the Unsigned Story.</p>
    <p>In the book I teach the reader how to identify and authenticate Lenzkirch clocks. While at the same time identifying fakes and look-a-likes. I cannot tell you how many times people have told me after reading my book, I have more Lenzkirch clocks in my collection now than I did before. All you have to do is authenticate one clock and the book will have paid for itself many times over.</p>
    <div class="tileboard">
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #1099</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #1099</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #1099</div>
        </div>
    </div>
    <p class="text-center">This is the earliest lowest serial number Lenzkirch clock found and identified to date. It is serial number 1099 circa 1851 the first year of production.</p>
    <hr />
    <div class="tileboard">
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #9128</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Model 10 from first catalog</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #9128</div>
        </div>
    </div>
    <p class="text-center">Lenzkirch model 10 from the first catalog serial number 9128 the second year of production..</p>
    <hr />
    <div class="tileboard">
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #12560</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Model 9 from first catalog</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #12560</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #12560</div>
        </div>
    </div>
    <p class="text-center">Lenzkirch model 9 from the first catalog serial number 12560 the second year of production. This is the only model 9 found to date matching the catalog picture with Alabaster dial and bronze pendulum.</p>
    <hr />
    <div class="tileboard">
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #17563</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #17563</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #17563</div>
        </div>
    </div>
    <p class="text-center">Lenzkirch Open Escapement serial number 17563 circa 1854</p>
    <hr />
    <div class="tileboard">
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #42193</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #42193</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #42193</div>
        </div>
    </div>
    <p class="text-center">Gothic Style Lenzkirch 24-Series Movement Serial Number 42193.</p>
    <hr />
    <div class="tileboard">
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Model 93 Serial #159854</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Model 14 Serial # 166077</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #32481</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #32481 Alabaster dial with porcelain cartouches</div>
        </div>
    </div>
    <hr />
    <div class="tileboard">
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Model 26 Serial #44300</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #44398</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #63471</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #84352</div>
        </div>
    </div>
    <hr />
    <div class="tileboard">
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Model 18 Serial #34085</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">From Lenzkirch catalog</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #34085</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #34085</div>
        </div>
    </div>
    <p class="text-center">Lenzkirch 2-weight model 18 with open escapement serial number 34085.</p>
    <hr />
    <div class="tileboard">
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Model 114</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #162878</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #162878</div>
        </div>
        <div>
            <img src="" />
            <div class="sub-title">Lenzkirch Serial #162878</div>
        </div>
    </div>
    <p class="text-center">Lenzkirch 2-weight model 114 with open escapement serial number 162878.</p>
</div>