<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                <li id="home"><a href="/">Home</a></li>
                <li id="clocks" class="dropdown">
                    <a href="#">Clocks For Sale</a>
                    <ul class="dropdown-menu">
                        <li><a href="/clocks">Browse All Clocks</a></li>
                        <li><a href="/clocks?filter=lenzkirch">Lenzkirch Clocks</a></li>
                        <li><a href="/clocks?filter=vienna">Vienna Regulators</a></li>
                        <li><a href="/clocks?filter=wall">Wall Clocks</a></li>
                        <li><a href="/clocks?filter=table">Table Clocks</a></li>
                        <li><a href="/clocks?filter=miniature">Miniature Clocks</a></li>
                        <li><a href="/clocks?filter=grandfather">Grandfather Clocks</a></li>
                        <li><a href="/clocks?filter=sold">Sold Clocks</a></li>
                    </ul>
                </li>
                <li id="book" class="dropdown">
                    <a href="#">Lenzkirch Book</a>
                    <ul class="dropdown-menu">
                        <li><a href="/book">Book Information</a></li>
                        <li><a href="/book/order">Book Ordering</a></li>
                    </ul>
                </li>
                <li id="about" class="dropdown">
                    <a href="#">About Things</a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">Antique Clocks</a></li>
                        <li><a href="/about/lenzkirch">Lenzkirch Clocks</a></li>
                        <li><a href="/about/unsigned">Unsigned Lenzkirch Clocks</a></li>
                        <li><a href="/book">My Book</a></li>
                        <li><a href="/about/dating">Dating a Lenzkirch Clock</a></li>
                        <li><a href="/about/shipping">Packing and Shipping</a></li>
                    </ul>
                </li>
                <li id="parts" class="dropdown">
                    <a href="#">Original Parts</a>
                    <ul class="dropdown-menu">
                        <li><a href="/parts?filter=lenzkirch">Original Lenzkirch Parts</a></li>
                        <li><a href="/parts?filter=other">Other Makers Parts</a></li>
                        <!--<li><a href="/parts/carvings">Custom tops, finials and wood carvings</a></li>-->
                    </ul>
                </li>
                <li id="services"><a href="/services">Services</a></li>
                <li id="link"><a href="/links">Links</a></li>
            </ul>
        </div>
    </div>
</div>
