<div class="menu-wrap">
    <nav class="menu">
        <ul class="clearfix">
            <li class="current-item"><a href="/">Home</a></li>
            <li>
                <a href="#">Clocks For Sale</a>
                <ul class="sub-menu">
                    <li><a href="/clocks">Browse All Clocks</a></li>
                    <li><a href="/clocks?filter=lenzkirch">Lenzkirch Clocks</a></li>
                    <li><a href="/clocks?filter=vienna">Vienna Regulators</a></li>
                    <li><a href="/clocks?filter=wall">Wall Clocks</a></li>
                    <li><a href="/clocks?filter=table">Table Clocks</a></li>
                    <li><a href="/clocks?filter=miniature">Miniature Clocks</a></li>
                    <li><a href="/clocks?filter=grandfather">Grandfather Clocks</a></li>
                    <li><a href="/clocks?filter=sold">Sold Clocks</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Lenzkirch Book</a>
                <ul class="sub-menu">
                    <li><a href="/book/ordering">Book Ordering</a></li>
                    <li><a href="/book">Book Information</a></li>
                </ul>
            </li>
            <li>
                <a href="#">About Things</a>
                <ul class="sub-menu">
                    <li><a href="/about">Lenzkirch Clocks</a></li>
                    <li><a href="/about">Unsigned Lenzkirch Clocks</a></li>
                    <li><a href="/about">My Book</a></li>
                    <li><a href="/about">Antique Clocks</a></li>
                    <li><a href="/about">Dating a Lenzkirch Clock</a></li>
                    <li><a href="/about">Packing and Shipping</a></li>
                    <li><a href="/about">Sell Your Clock</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Original Parts</a>
                <ul class="sub-menu">
                    <li><a href="/parts">Original Lenzkirch Parts</a></li>
                    <li><a href="/parts">Other Makers Parts</a></li>
                    <li><a href="/parts">Custom tops, finials and wood carvings</a></li> 
                </ul>
            </li>
            <li><a href="/services">Services</a></li>
            <li><a href="/links">Links</a></li>
        </ul>
    </nav>
</div>