@model IEnumerable<ClockBrowseModel>

<div id="all-clocks-container">
    @if (Model.Count() > 0) {
        @foreach (var clock in Model) {
            <div class="clock-panel">
                <div class="clock-panel-header">
                    <a href="/clocks/details/@clock.Id">
                        <img src="/images/@clock.ImageId" alt="@clock.ImageName" />
                    </a>
                </div>
                <div class="clock-panel-footer">
                    <div class="clock-panel-title">
                        @clock.Name
                        <div class="clock-panel-number">
                             - @clock.Number
                        </div>
                    </div>
                </div>
                <a data-pin-do="buttonPin" href="@clock.PintrestLink" class="pintest-button">
                    <img src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
                </a>
            </div>
        }
    }
    else {
        <div>
            <h3>Your search returned no results.</h3>
        </div>
    }
</div>

