@{
    ViewBag.MenuId = "#home";
}

<div class="center-block" style="padding: 100px; text-align: center">
    <h2>Oops...</h2>
    <p>Something seems to have gone wrong. Please try again.</p>
    <a href="/" class="btn btn-lg btn-success">Home</a>
</div>
