@model HomePageModel

@{
    ViewBag.MenuId = "#home";
}

<!-- Messages -->
<div style="margin-top: 5px;">
    @foreach (var message in Model.Messages) {
        <div class="alert alert-info fade in alert-dismissable" style="margin-bottom: 5px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>@message</strong>
        </div>
    }
</div>

<!-- Jumbo Tron -->
<div class="jumbotron" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <h3>Welcome to George's Antique Clocks</h3>
            <p>My book <span style="font-weight: bold; font-style: italic;">Lenzkirch Clocks, the Unsigned Story</span> is available! Quantities are limited.<p>
                <div style="font-weight: bold; font-style: italic; color: darkcyan;">
                    "I got your book today and I am very impressed. I believe the evidence presented makes your case. And I own more Lenzkirch clocks now than I did before I got your book. Your book is an outstanding contribution
                    to the world of horology and horology publishing. Well done!"
                </div>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
            <img src="~/images/book-cover.jpg" alt="book-cover" width="150">
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <a class="btn btn-primary btn-lg" href="/" role="button">Learn More</a>
    </div>
    <div id="search" class="row" style="margin-top: 20px;">
        <div class="fb-like" data-href="http://www.antique-clock.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        <script>
            (function () {
                var cx = '012462125409564332886:l_jfxd_nygg';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:search></gcse:search>
    </div>
</div>

<div class="row" style="padding: 0 50px;">
    <h3>High Quality Antique Clocks for Sale</h3>
    <p>This is Lenzkirch Clocks Central on the Internet.  You can find out anything Lenzkirch here.  If you do not see what you are looking for,
        send me an email and we will find it for you.  Between myself and my friends we have gathered thousands of pages
        of data and pictures of Lenzkirch clocks.  Click the Contact link below.</p>
    <p>You will find only the finest quality clock ever made on this web site.  If you want a cheap clock that does not run there is an unlimited number
        of auctions available.</p>
    <div class="hidden-sm hidden-xs">
        <a class="btn btn-primary btn-lg" href="/clocks" role="button">Click Here To See All Clocks For Sale on One Page</a>
    </div>
    <div class="hidden-md hidden-lg">
        <a class="btn btn-primary btn-lg" href="/clocks" role="button">Browse All Clocks</a>
    </div>
</div>

<!-- Featured Clocks -->
<div id="tile-container">
    @foreach (var clock in Model.FeaturedClocks) {
        <div class="clock-thumb">
            <div class="clock-thumb-head">
                <a href="/clocks/details/@clock.Id">
                    <img src="/images/@clock.ImageId" alt="@clock.ImageAlt" />
                </a>
            </div>
            <div class="clock-thumb-body">
                <h3>@clock.Name</h3>
                <p>@clock.Description</p>
                <a href="/clocks/details/@clock.Id" class="btn btn-primary" role="button">Read More</a>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        // PayPal pop up script
        ; (function (a, t, o, m, s) { a[m] = a[m] || []; a[m].push({ t: new Date().getTime(), event: 'snippetRun' }); var f = t.getElementsByTagName(o)[0], e = t.createElement(o), d = m !== 'paypalDDL' ? '&m=' + m : ''; e.async = !0; e.src = 'https://www.paypal.com/tagmanager/pptm.js?id=' + s + d; f.parentNode.insertBefore(e, f); })(window, document, 'script', 'paypalDDL', '3ef56d32-5c20-11e7-8a78-9da7c32b725e');
    </script>
}