@model IEnumerable<ClockFeatureModel>

<div id="tile-container">
    @foreach (var clock in Model) {
        <div class="clock-thumb">
            <div class="clock-thumb-head">
                <a href="/clocks/details/@clock.Id">
                    <img src="/images/@clock.ImageId" alt="@clock.ImageAlt" />
                </a>
            </div>
            <div class="clock-thumb-body">
                <h3>@clock.Name</h3>
                <p>@clock.Description</p>
                <a href="/clocks/details/@clock.Id" class="btn btn-primary" role="button">Read More</a>
            </div>
        </div>
    }
</div>