<div style="text-align: center">
    <!-- Messages -->
    <div>
        <div class="alert alert-info fade in alert-dismissable" style="margin-bottom: 5px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            This is a dismissable message.
        </div>
        <div class="alert alert-info fade in alert-dismissable" style="margin-bottom: 5px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            This is another one.
        </div>
    </div>
    <hr />

    <!-- Jumbotron -->
    <div class="jumbotron" style="text-align: left;">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <h3>Welcome to George's Antique Clocks</h3>
                <p>My book <span style="font-weight: bold; font-style: italic;">Lenzkirch Clocks, the Unsigned Story</span> is available! Quantities are limited.<p>
                    <div style="font-weight: bold; font-style: italic; color: darkcyan;">
                        "I got your book today and I am very impressed. I believe the evidence presented makes your case. And I own more Lenzkirch clocks now than I did before I got your book. Your book is an outstanding contribution
                        to the world of horology and horology publishing. Well done!"
                    </div>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <img src="~/images/book-cover.jpg" alt="book-cover" width="150">
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <a class="btn btn-primary btn-lg" href="/" role="button">Learn More</a>
        </div>
        <div id="search" class="row" style="margin-top: 20px;">
            <div class="fb-like" data-href="http://www.antique-clock.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>    
            <script>
            (function() {
                var cx = '012462125409564332886:l_jfxd_nygg';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
            </script>
            <gcse:search></gcse:search>
        </div>
    </div>

    <h4>Image Tests</h4>
    <div>
        <p>Multiple-Image should render on the page but the links should return a 404.</p>
        <div style="display: flex; justify-content: space-evenly;">
            <a href="/images/3" target="_blank">
                <img src="/images/3?size=150" alt="missing-image" />
            </a>
            <a href="/images/3" target="_blank">
                <img src="/images/3?size=50" alt="missing-image" />
            </a>
        </div>
    </div>
    <hr />

    <h4>Home page paragraph:</h4>
    <div class="row" style="text-align: left; padding: 0 50px;">
        <h3>High Quality Antique Clocks for Sale</h3>
        <p>
            This is Lenzkirch Clocks Central on the Internet.  You can find out anything Lenzkirch here.  If you do not see what you are looking for,
            send me an email and we will find it for you.  Between myself and my friends we have gathered thousands of pages
            of data and pictures of Lenzkirch clocks.  Click the Contact link below.
        </p>
        <p>
            You will find only the finest quality clock ever made on this web site.  If you want a cheap clock that does not run there is an unlimited number
            of auctions available.
        </p>
        <div class="hidden-sm hidden-xs">
            <a class="btn btn-primary btn-lg" href="/clocks" role="button">Click Here To See All Clocks For Sale on One Page</a>
        </div>
        <div class="hidden-md hidden-lg">
            <a class="btn btn-primary btn-lg" href="/clocks" role="button">Browse All</a>
        </div>
    </div>
    <hr />

    <h4>Featured Tests:</h4>
    <div>
        <p>For visual appearances</p>
        <div id="tile-container">
            <div class="clock-thumb">
                <div class="clock-thumb-head">
                    <a href="/clocks/details/1">
                        <img src="/images/1" alt="missing image" />
                    </a>
                </div>
                <div class="clock-thumb-body">
                    <h3>Some Random Clock Name</h3>
                    <p>Some random clock description</p>
                    <a href="/clocks/details/1" class="btn btn-primary" role="button">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <h4>List All Tests:</h4>
    <div>
        <p>For visial appearances</p>
        <div id="all-clocks-container">
            <div class="clock-panel">
                <div class="clock-panel-header">
                    <a href="/clocks/details/1">
                        <img src="/images/1" alt="missing image" />
                    </a>
                </div>
                <div class="clock-panel-footer">
                    <div class="clock-panel-title">
                        Some Random Clock Name
                        <div class="clock-panel-number">
                            - #RNA001
                        </div>
                    </div>
                </div>
                <a data-pin-do="buttonPin" href="http://link-to-pintest.com" class="pintest-button">
                    <img src="http://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
                </a>
            </div>
        </div>
    </div>

    <h4>Sortable Table Tests:</h4>
    <div>
        <table class="table" id="diagnosis_list">
            <thead>
                <tr><th>Priority</th><th>Name</th><th>Favorite fruit</th><th>Vegetarian?</th><th> </th></tr>
            </thead>
            <tbody>
                <tr><td class='priority'>1</td><td>George Washington</td><td>Apple</td><td>N</td><td><a class='btn btn-delete btn-danger'>Delete</a></td></tr>
                <tr><td class='priority'>2</td><td>John Adams</td><td>Pear</td><td>Y</td><td><a class='btn btn-delete btn-danger'>Delete</a></td></tr>
                <tr><td class='priority'>3</td><td>Thomas Jefferson</td><td>Banana</td><td>Y</td><td><a class='btn btn-delete btn-danger'>Delete</a></td></tr>
                <tr><td class='priority'>4</td><td>Ben Franklin</td><td>Kumquat</td><td>N</td><td><a class='btn btn-delete btn-danger'>Delete</a></td></tr>
                <tr><td class='priority'>5</td><td>Alexander Hamilton</td><td>Red grapes</td><td>N</td><td><a class='btn btn-delete btn-danger'>Delete</a></td></tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            //Helper function to keep table row from collapsing when being sorted
            var fixHelperModified = function (e, tr) {
                var $originals = tr.children();
                var $helper = tr.clone();
                $helper.children().each(function (index) {
                    $(this).width($originals.eq(index).width())
                });
                return $helper;
            };

            //Make diagnosis table sortable
            $("#diagnosis_list tbody").sortable({
                helper: fixHelperModified,
                stop: function (event, ui) { renumber_table('#diagnosis_list') }
            }).disableSelection();


            //Delete button in table rows
            $('table').on('click', '.btn-delete', function () {
                tableID = '#' + $(this).closest('table').attr('id');
                r = confirm('Delete this item?');
                if (r) {
                    $(this).closest('tr').remove();
                    renumber_table(tableID);
                }
            });

        });

        //Renumber table rows
        function renumber_table(tableID) {
            $(tableID + " tr").each(function () {
                count = $(this).parent().children().index($(this)) + 1;
                $(this).find('.priority').html(count);
            });
        }
    </script>
}