@{
    ViewBag.MenuId = "#book";
}

<div>
    @*
    <div class="bordered">
        <div class="row gallery-container">
            <div class="col-md-5 main">
                <img id="main-img" src="pictures/book1.jpg" />
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 thumbs">

                <img onmouseover="swapimage('pictures/book1.jpg')" src="pictures/book1.jpg" />
                <img onmouseover="swapimage('pictures/book2.jpg')" src="pictures/book2.jpg" />
                <img onmouseover="swapimage('pictures/book3.jpg')" src="pictures/book3.jpg" />
                <img onmouseover="swapimage('pictures/book4.jpg')" src="pictures/book4.jpg" />
                <img onmouseover="swapimage('pictures/book5.jpg')" src="pictures/book5.jpg" />
                <img onmouseover="swapimage('pictures/book6.jpg')" src="pictures/book6.jpg" />
                <img onmouseover="swapimage('pictures/book7.jpg')" src="pictures/book7.jpg" />

            </div>
        </div>
    </div>
    *@
    
    <h3>Lenzkirch Clocks<span class="sub-title">The Unsigned Story</span></h3>
    <div style="font-size: medium;">
        <p>
            <i><strong>Lenzkirch Clocks, the Unsigned Story</strong></i> has taken over ten years of
            research and five years to write.  It is a technical study of Lenzkirch clocks
            unlike anything ever written before. In my research I uncovered the secrets of the infamous Unsigned
            Lenzkirch clock.  First I attempted to find one.  After finding what I believed was an original
            unsigned Lenzkirch clock.  Then I had to develop a method to authenticate it. This
            simple task turned out to be a monumental undertaking.
        </p>
        <p>
            It was not enough to just to be able to show the reader how to authenticate
            an unsigned Lenzkirch clock. This was no simple task. To do so, I found that I had
            to document the evolution of the clock movements themselves. The more I studied the movements,
            the more variations in the movements I discovered. Even between trademarked
            movements the design changed over the years. It only stood to reason that the design of the
            movements evolved prior to the use of the trademark. This task was one that took me 316 pages
            of text and 428 photographs to accomplish.
        </p>
        <p>
            In addition to documenting the changes which can be found in the various movements, Lenzkirch made many
            different movements for the varity of case styles in which they were installed.
            In the book I tried to document as many of the different movements as I
            could; one-weight, two-weight, spring-powered, miniatures, open escapement (both
            spring and weight powered), and even a jewelers regulator.
        </p>
        <p>
            The book also contains data tables on the different movements. These
            tables contain the tooth counts and measurements of all of the wheels, pinions,
            spring barrels, winding arbors etc. for each type of movement.
        </p>
        <p>
            I have also created a serial number date table from production/personnel data. By taking the
            production rates for years when the number of employees were know, you can extrapolate the data for
            the unknown years.  I believe that production is directly proportional to
            the number of employees. I matched the results with every know bit of data
            that I could find as a cross check.
        </p>
        <p>
            There is also an in-depth discussion about second quality parts and movements.
            How they may relate to the 2 and 2Q markings on the backs of some Lenzkirch spring powered movements.
        </p>
        <p>
            As a collector, one of the things I always enjoyed was being able to identify the
            model number of a particular clock when ever possible. It seems to give the clock more of an identity.
            This is a model 93 Lenzkirch sounds much better to me than, This is a Lenzkirch. Through a couple
            of my German friends I was able to obtain some copies of Lenzkirch factory
            catalogs. I carefully chose five different catalogs to reproduce in the book showing many models that were previously
            unpublished. Including the 1855 catalog believed to be the first produced by the Lenzkirch clock factory.
        </p>
        <p>
            There is also a 60 plus page color photo section of the clocks that I used in my research. It features
            many early models that up until now were thought to be just another clock.
        </p>
        <p>
            <i><strong>Lenzkirch Clocks, the Unsigned Story</strong></i> is a book
            collectors will treasure for years to come. I predict it will open the door for the lost unsigned
            Lenzkirch clocks. Giving them identity and ensuring their rightful place as the crowning
            jewel of many a Lenzkirch collection and not just another look-a-like or I think
            it is. All the reader has to do is to identify and authenticate one
            unsigned Lenzkirch and this book will have paid for itself many times over.
        </p>
    </div>
    
    <h3>Testimonials<span class="sub-title">What Others Have to Say About My Book</span></h3>
    <div class="blockquote">
        <p>
            Dear friend George,<br />
            Finally, your magnificent book has arrive to my hands.The wait is worth it, because the book has so manny references,
            details and  carefully study conclusion that makes the book a master piece of art, in not only in
            Lenzkirch if also in Vienna clocks as well. The best compilation of photos and machinery that a lover
            of Lenzkirch clock could find. 
            As it seems that you do not trust in any easy detail to confirm the authentication of an unsigned. 
            Your book will have a very special reference position in my book collection with 4500 books. 
            Congratulations and thank you very much for so nice hour of excellent entertainment and pleasure. <br /><br />
            Yours sincerely,<br />
            Jose Luis, Barcelona (Spain)
        </p>
    </div>

    <div class="blockquote">
        <p>
            I just got my copy of the book in today and it is fantastic! There was no cost spared on the quality.
            It has good, heavy quality paper with nice glossy pictures.<br /><br />
            Lenzkirch collectors look everywhere for information on these fine clocks and
            there is not a lot out there. To a Lenzkirch collector, this book is like
            bringing cold fresh water to a thirsty man in the desert!
        </p>
    </div>
    <div class="blockquote">
        <p>Very good book for the reference library.</p>
    </div>
    <div class="blockquote">
        <p>eBay as it should be : instant payment equals instant shipping, nice book BTW</p>
    </div>
    <div class="blockquote">
        <p>Smooth Transaction, wonderful book, AAAA++++</p>
    </div>
    <div class="blockquote">
        <p>Great book, excellent service</p>
    </div>
    <div class="blockquote">
        <p>Excellent eBay seller. Fast shipping, fantastic book!! A+</p>
    </div>
    <div class="blockquote">
        <p>Thank you George for a wonderful book---well done</p>
    </div>
    <div class="blockquote">
        <p>Wonderful Book!!!  Thank you very much!!!</p>
    </div>
    <div class="blockquote">
        <p>
            What a great job! All real European clock collectors will enjoy your new book and
            be grateful you put so much hard work and effort into this great book! It should rank right up
            there with Rick Ortenburger's books of Vienna Regulators Factory Clocks,
            Black Forest Clocks.
        </p>
    </div>
    <div class="blockquote">
        <p>
            I got your book today and I am very impressed. I believe the evidence presented
            makes your case. And I own more Lenzkirch clocks now than I did before I got your book. Your book is
            an outstanding contribution to the world of horology and horology publishing. Well done!!
        </p>
    </div>
    <div class="blockquote">
        <p>
            May I compliment you for this fine piece of art you have done here. This book -
            I can not find the words - this is state of art - A MASTERPIECE. Wow you have
            put a lot of efforts into this book. This is most certainly the best book that
            has ever been made of A.G.U.L. and I have a lot of them including 
            the book the Lenzkircher Uhren Freunde made in 2001.
        </p>
    </div>
    <div class="blockquote">
        <p>
            Dear George. I am so happy to own a sample of this book and I know that
            collectors of Lenzkirch clocks will be grateful to you in the generations to
            come as well.
        </p>
    </div>
</div>
<br />